logs
project/project
project/target
target
tmp
.history
dist
build
/.idea
/*.iml
/out
/.idea_modules
.classpath
.project
/RUNNING_PID
.settings
.target
.cache
.gradle
bin
.DS_Store
activator-sbt-*-shim.sbt
